<h2>Hey <%= current_user.username %></h2>
<p>Here's your recently uploaded workout</p>

  <div>
    <%= @workout.time%>, <%= @workout.date %><br>
    <%= @workout.type %><br>
    <%= @workout.distance%> <%= @workout.unit %><br>
    <%= @workout.notes %>
  </div>
