<h2> Hello, <%= current_user.username %> </h2>
<p>Here are your recent activities</p>

  <% @workouts.each do |workout| %>

<div class="panel panel-default">
  <div class="panel-heading"><%=workout.workout_type.titleize%> workout <%= workout.time.strftime("at %I:%Mp") if @workout.time %> <%= workout.date.strftime("on %m/%d/%Y") if @workout.date %></div>
  <div class="panel-body">
    Distance: <%= workout.distance%> <%= workout.unit %><br>
    Notes: <%= workout.notes %><br>
    <p><a href="/workouts/<%= workout.id%>/edit" class="btn btn-primary">Edit workout</a><br>
    <form method="post" action="/workouts/<%= workout.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <button type="submit" value="submit" class="btn btn-primary">Delete workout</button>
    </form>
  </div>
</div>
<% end %> 

