<h2> Hello, <%= current_user.username %> </h2>
<p>Here are your recent activities</p>

  <% @workouts.each do |workout| %>

<div class="panel panel-default">
  <div class="panel-heading"><%=workout.workout_type.titleize%> workout <%= workout.time.strftime("at %I:%Mp")%> <%= workout.date.strftime("on %m/%d/%Y")%></div>
  <div class="panel-body">
    Distance: <%= workout.distance%> <%= workout.unit %><br>
    Notes: <%= workout.notes %><br>
    <a href="/workouts/<%= workout.id%>/edit">Edit workout</a>
  </div>
</div>
<% end %> 

